# dependencies
node_modules/

# pnpm
.pnpm-store/
pnpm-debug.log*

# Next.js
.next/
out/

# NestJS
dist/
dist-cjs/

# environment
.env
.env.local
.env.production
.env.development

# logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
*.db
*.db-journal

# temporary
tmp/
temp/

# backups
*.bak

# coverage
coverage/

# Playwright
playwright-report/
test-results/
blob-report/
playwright/.cache/

# Expo
.expo/

# build
build/
*.tsbuildinfo